*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 1200px;
    background-image: url(image/img10.jpg);
    position: relative;
    background-repeat: no-repeat;
    text-align: left;
    margin-top: 90px;
    margin-right: 550px;
    margin-left: 60px;
    
    -moz-background-size:cover;
    -webkit-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    color:rgb(15, 107, 146);
  }
  h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    text-align:right;
    margin-top: 50px;
    margin-right: 80px;
   
    color:rgb(15, 107, 146);

  }