*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   background-color: palegoldenrod;
   background-position: center;
   background-repeat: no-repeat;
   background-clip: content-box;
   
}
